<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <h3>you have succesfully signed in Admin</h3>
    <%= render template: "campaigns/index" %>
  <% else %>
    <h3>you have succesfully signed in User</h3>
  <% end %>
<% else %>

  <h1> Welcome to Heart Filler community </h1>
  
  <h1>Campaign Active</h1>
  <% @campaigns.each do |campaign| %>
    <div class="entry" >
      <%= image_tag(campaign.image_url, :class => 'list_image') %>
      <h3><%= campaign.title %></h3>
      <h4><%= campaign.category.name %></h4>
      <%=sanitize campaign.description %>
      <div class="target_line" >
	<span class="target" ><%= number_to_currency(campaign.target, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %></span>
      </div>
      <div class="budget_line" >
        <span class="budget" ><%= number_to_currency(campaign.budget, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %></span>
      </div>
    </div>
  <% end %>
<% end %>

