<h2>Modifica profilo</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.fields_for(:information, resource.information) do |info| %>
    <div class="field">
      <%= info.text_field :name, placeholder: 'Nome' %>
    </div>

    <div class="field">
      <%= info.text_field :surname, placeholder: 'Cognome' %>
    </div>

    <div class="field">
      <%= info.date_select :date_of_birth, start_year: 1900, end_year: (Time.now.year-18) %>
    </div>

    <div class="field">
      <%= info.text_field :address, placeholder: 'Indirizzo' %>
    </div>

    <div class="field">
      <%= info.text_field :city, placeholder: 'Città' %>
    </div>

    <div class="field">
      <%= info.text_field :country, placeholder: 'Nazione' %>
    </div>

    <div class="field">
      <%= info.text_field :post_code, placeholder: 'CAP' %>
    </div>

    <div class="field">
      <%= info.text_field :phone, placeholder: 'Numero di Telefono' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :email, :placeholder => 'E-mail' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="field">Attesa conferma per l'indirizzo email: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <i>(Lascia il campo vuoto se non desideri cambiare la password)</i><br />
    <%= f.password_field :password, :autocomplete => "off", :placeholder => 'Password' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => 'Conferma password' %>
  </div>

  <div class="field">
    <i>(Abbiamo bisogno della tua password corrente per confermare i tuoi cambiamenti)</i><br />
    <%= f.password_field :current_password, :placeholder => 'Password corrente' %>
  </div>

  <div class="actions">
    <%= f.submit "Aggiorna", data: { confirm: 'Sei sicuro?' } %>
  </div>
<% end %>

<h3>Elimina il mio account</h3>

<p>Infelice? <%= button_to "Elimina il mio account", registration_path(resource_name), class: 'btn btn-large btn-danger', :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
