<div class="row">
  <div class="large-12 column">
    <h1>Profilo di <%= current_user.information.name.capitalize + " " + current_user.information.surname.capitalize %></h1>    

    <div class="large-5 column centra">
      <%= image_tag current_user.information.image_url.url(:large), class:'show_img_user' %>
    </div>

  <div class="large-7 column">
    <table class="large-12 column">
      <tr>
         <td><h5>E-mail</h5></td>
         <td><h6><%= current_user.email %><h6></td> 
      </tr>
      <tr>
         <td><h5>Data di nascita</h5></td>
         <td><h6><%= current_user.information.date_of_birth.nil? ?  current_user.information.date_of_birth : current_user.information.date_of_birth.strftime("%d-%m-%Y") %><h6></td> 
      </tr>
      <tr>
         <td><h5>Indirizzo</h5></td>
         <td><h6><%= current_user.information.address %><h6></td> 
      </tr>
      <tr>
         <td><h5>Città</h5></td>
         <td><h6><%= current_user.information.city %><h6></td> 
      </tr>
      <tr>
         <td><h5>Nazione</h5></td>
         <td><h6><%= current_user.information.country %><h6></td> 
      </tr>
      <tr>
         <td><h5>CAP</h5></td>
         <td><h6><%= current_user.information.post_code %><h6></td> 
      </tr>
      <tr>
         <td><h5>Telefono</h5></td>
         <td><h6><%= current_user.information.phone %><h6></td> 
      </tr>
    </table>

    <%= button_to 'Modifica', edit_user_registration_path, method: :get, class: 'button large-12 column' %>
   
  </div>

</div>



</div>



