<div class="row">
  <div class="large-12 columns">
    <h1>Hai dimenticato la password?</h1> <!--Forgot your password?-->

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field small-10 small-centered large-10 large-centered columns">
      <%= f.email_field :email, :autofocus => true, :placeholder => 'Inserisci l\'e-mail che ci hai fornito' %>
    </div>

    <div class="actions small-10 small-centered large-10 large-centered columns">
      <%= f.submit "Inviami l\'email di richiesta reset", class: 'button small-12 large-12 columns'%>
    </div>

    <% end %>
 
    </br>

    <div class="large-12 columns">
      <%= render "devise/shared/links_nil" %>
    </div>

  </div>

</div>
