<div class="row">
  <div class="large-12 columns">
    <h1>Donazione per: <%= @campaign.title %></h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= form_for @offer, url: offers_path(@campaign) do |f| %>
      <div class="large-2 large-centered columns">
       	<%= f.text_field :donation, placeholder: 'Importo' %>
      </div>

      <div class="large-12 columns">
        <%= f.text_area :comment, placeholder: 'Inserire un commento per la donazione...' %>  
      </div>

      <div class="actions">
        <%= f.submit 'Completa la donazione', class: 'button large-12 column' %>
      </div>
    <% end %>
  </div>
</div>
