<div class="row">
  <div class="large-12 column">
    <h1>Lista Campagne</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 column">
    <fieldset class="large-12 small-12 columns">
      <div class="row">
        <div class="large-2 columns">
          <a href="/campaigns?category=1">
          <%= image_tag "/system/category/wild.jpg" %>
          <div class="panel">
            <h6>Animal & Wildlife</h6>
            <h6 class="subheader"><%= number_to_currency(@animal,:unit => "€ ", :separator => ",", :delimiter => ".") %></h6>
          </div>
          </a>
        </div>

        <div class="large-2 columns">
          <a href="/campaigns?category=2">
          <%= image_tag "/system/category/art.jpg" %>
          <div class="panel">
            <h6>Art & Culture</h6>
            <h6 class="subheader"><%= number_to_currency(@art,:unit => "€ ", :separator => ",", :delimiter => ".") %></h6>
          </div>
          </a>
        </div>

        <div class="large-2 columns">
          <a href="/campaigns?category=3">
          <%= image_tag "/system/category/children.jpg" %>
          <div class="panel">
            <h6>Children & Youth</h6>
            <h6 class="subheader"><%= number_to_currency(@children,:unit => "€ ", :separator => ",", :delimiter => ".") %></h6>
          </div>
          </a>
        </div>

        <div class="large-2 columns">
          <a href="/campaigns?category=3">
          <%= image_tag "/system/category/education.jpg" %>
          <div class="panel">
            <h6>Education</h6>
            <h6 class="subheader"><%= number_to_currency(@education,:unit => "€ ", :separator => ",", :delimiter => ".") %></h6>
          </div>
          </a>
        </div>            

        <div class="large-2 columns">
          <a href="/campaigns?category=3">
          <%= image_tag "/system/category/medical.jpg" %>
          <div class="panel">
            <h6>Medical & Health</h6>
            <h6 class="subheader"><%= number_to_currency(@medical,:unit => "€ ", :separator => ",", :delimiter => ".") %></h6>
          </div>
          </a>
        </div>

        <div class="large-2 columns">
          <a href="/campaigns?category=3">
          <%= image_tag "/system/category/other.jpg" %>
          <div class="panel">
            <h6>Other</h6>
            <h6 class="subheader"><%= number_to_currency(@other,:unit => "€ ", :separator => ",", :delimiter => ".") %></h6>
          </div>
          </a>
        </div>

      </div>
      <%= button_to 'Tutte le campagne', campaigns_path, method: :get, class: 'button large-12 column' %>
    </fieldset>
  </div>
</div>

<br>
<div class="row">
  <div class="large-12 column">
    <%= will_paginate @campaigns %>

    <% @campaigns.each do |campaign| %>

    <table class="large-12 column">
      <tr>
        <td class="large-3 column centralista"><%= link_to image_tag(campaign.image_url.url(:medium), class:'imgcampagn'), campaign_path(campaign) %></td>
        <td class="large-9 column">
          <h4>
            <%= link_to campaign.title, campaign_path(campaign) %>
          </h4>

          <h5>
            Budget: <%= number_to_currency(campaign.budget,:unit => "€ ", :separator => ",", :delimiter => ".") %>    	        </h5>
          <h5>
	    Target: <%= number_to_currency(campaign.target,:unit => "€ ", :separator => ",", :delimiter => ".") %>
	  </h5>
          <h5>
	    Scadenza: <%= campaign.expiration.strftime("%d-%m-%Y %H:%M") %>
	  </h5>
         
          <% @percentuale_raggiunta= ((campaign.budget / campaign.target)*100).to_i %>

          <div class="progress large-12 column"> 
            <span class="meter" style="width: <%= @percentuale_raggiunta %>%"></span>
          </div>
        </td>
      </tr>
    </table>    

    <% end %>
  </div>
</div>
