<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "HEARTH FILLER" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="row">
      <div class="small-10 small-centered large-10 large-centered columns">
        <% flash.each do |key, value| %>
          <div data-alert data-options="animation:slideUp;" class="alert-box <%= key %>">
            <%= value %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      </div>
    </div>
    
    <%= yield %>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "application" %>

  </body>
</html>
